#topnav{
    display: inline;
}
*{
    font-family: roboto;
}
*{
    background-color: antiquewhite;
}
.header {
    border-style: dotted ;
    border-color: brown;
}
#work {
    color: black;
}
#resume {
border-style: solid;
}
.footer {
color: brown;
}